.error-page-bg {
  padding: 2rem 7%;
  background: url(https://c8.alamy.com/comp/PW6BK4/white-background-with-blue-tire-track-path-and-404-error-page-sample-PW6BK4.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
