.error-page-bg {
  padding: 2rem 7%;
  background: url(https://img.freepik.com/free-vector/page-found-concept-illustration_114360-1869.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
